/*Reset CSS styles'*/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

a {
  color: #990099;
  text-decoration: none;
  transition: text-decoration 1s, opacity 0.75s;
}

a:hover,
a:focus {
  opacity: 0.4;
  text-decoration: blink;
  text-shadow: 1px 1px 9px #990099;
}

header {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

header div{
  text-align: center;
}

body {
  background-image: url(../images/background.jpg);
  background-size: auto 100vh;
  font-family: "Lucinda Console", Monaco, monospace;
  font-size: 1em;
  height: 100vh;
}

/*Media example, used to adjust font-size based on pixel range.
Equivalent to conditional*/
@media(min-width: 400px) {
  body{
    font-size: 14px; 
  }
}
 
@media(min-width: 600px) {
  body{
    font-size: 18px; 
  }
}

.menu {
  position: fixed;
  top: 1px;
  width: 100vw;
  z-index: 1;
}

.menu a{
  background-color: #cfcfcf;
  border-radius: 15px 50px;
  box-shadow: 6px 6px 8px #990099;
  display: block;
  font-size: 1em;
  font-weight: bold;
  opacity: 0.4;
  padding: 5px 25px;
  transition: text-decoration 1s, opacity 0.75s;
}


.menu a:hover,
.menu a:focus {
  opacity: 0.75;;
  text-decoration: blink;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

@media(min-width: 300px){
  .menu ul {
    font-size: 0.7em;
  }
}
@media(min-width: 400px){
  .menu ul {
    font-size: 1em;
  }
}
@media(min-width: 600px){
  .menu ul {
    font-size: 1.5em;
  }
}
.menu li {
  list-style: none;
}

.title{
  animation: alternate 2s title-animation forwards;  
}

@keyframes title-animation{
  from{
    filter: blur(15px);
    opacity: 0;
    transform: scale(0.2);
  }
 to{
    filter: blur(0px);
    opacity: 1;
    transform: scale(1) ;
  }
}

.img-perfil {
  width: 360px;
  height: 360px;
  border-radius: 50%;
  box-shadow: 8px 8px 10px #020202;
}

.site-title,
.site-subtitle {
  color: #cfcfcf;
  text-align: center;
}

.site-subtitle a {
  color: #cfcfcf;
}

.about,
.contact,
.portfolio {
  color: #990099;
  font-family: 'Righteous', cursive;
  font-size: 1.5em;
  padding: 1em;
  text-align: left;
  min-height: 100vh;
}

@media (min-widht: 1200px){
  .about,
  .contact,
  .portfolio {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  } 
}

.about h2,
.contact h2,
.portfolio h2{
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.75em;
  margin-top: 0.5em;

}

.about p {
  color: #cfcfcf;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 0.75em;
  padding: 1em;
  text-align: justify;
  text-indent: 1em;
}

@media(max-width: 360px) {
  .about p {
    font-size: 0.3em;
  }
}

.about a {
  font-family: 'Ubuntu Mono', monospace;
  transition: text-decoration 1s, opacity 0.75s;
}

.about a:hover,
.about a:focus {
  opacity: 0.75;;
  text-decoration: blink;
}

.portfolio figurecaption {
  color: #cfcfcf;
}

.portfolio .grid {
  display: grid;
  grid-column-gap: 1.5em;
}

@media (min-width: 560px) {
  .portfolio .grid {
    align-content: center;
    grid-template-columns: 240px 240px;
    justify-content: center;
  }
}

@media (min-width: 880px) { 
  .portfolio .grid {
    align-content: center;
    grid-template-columns: repeat(3, 240px);
    justify-content: center;
  }
}

.img-potfolio {
  height: 180px;
  object-fit: cover;
  transition: transform .5s;
  width: 100%;
}

.img-potfolio:hover,
.img-potfolio:focus {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}

.portfolio .grid a:hover,
.portfolio .grid a:focus {
  opacity: 1;
  text-decoration: none;
}

.contact a {
  color: #990099;
  font-size: 3.5em;
  opacity: 0.65;
  text-align: center;
  transition: transform 0.5s, text-shadow 0.7s, opacity 0.5s;
}

.contact a:hover,
.contact a:focus {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  opacity: 1;
  text-decoration: none;
  text-shadow: 0px 0px 10px #990099;
  transform: scale(1.1);
}

.contact .icons {
  text-align: center; 
}

footer {
  color: #cfcfcf;
  text-align: center;
}